<!-- carwash/templates/carwash/agregar_paquete.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Agregar Paquete Carwash{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h2 class="mb-0">📦 Agregar Nuevo Paquete de Carwash</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.nombre.label_tag }}
                                {{ form.nombre }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.tipo.label_tag }}
                                {{ form.tipo }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.precio_base.label_tag }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Q</span>
                                    </div>
                                    {{ form.precio_base }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.duracion_estimada.label_tag }}
                                <div class="input-group">
                                    {{ form.duracion_estimada }}
                                    <div class="input-group-append">
                                        <span class="input-group-text">min</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h5>Servicios Incluidos</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        {{ form.incluye_lavado_exterior }}
                                        {{ form.incluye_lavado_exterior.label_tag }}
                                    </div>
                                    <div class="form-check">
                                        {{ form.incluye_lavado_interior }}
                                        {{ form.incluye_lavado_interior.label_tag }}
                                    </div>
                                    <div class="form-check">
                                        {{ form.incluye_aspirado }}
                                        {{ form.incluye_aspirado.label_tag }}
                                    </div>
                                    <div class="form-check">
                                        {{ form.incluye_encerado }}
                                        {{ form.incluye_encerado.label_tag }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        {{ form.incluye_llantas }}
                                        {{ form.incluye_llantas.label_tag }}
                                    </div>
                                    <div class="form-check">
                                        {{ form.incluye_motor }}
                                        {{ form.incluye_motor.label_tag }}
                                    </div>
                                    <div class="form-check">
                                        {{ form.incluye_proteccion_uv }}
                                        {{ form.incluye_proteccion_uv.label_tag }}
                                    </div>
                                    <div class="form-check">
                                        {{ form.incluye_aromatizacion }}
                                        {{ form.incluye_aromatizacion.label_tag }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-check mt-3">
                        {{ form.activo }}
                        {{ form.activo.label_tag }}
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-success">Guardar Paquete</button>
                        <a href="{% url 'lista_paquetes_carwash' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}